body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
<<<<<<< HEAD
    'redbuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
=======
    'redbuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
>>>>>>> second_branch
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
